

/* Animación para ImgAdministracion */
#ImgAdminNegocio{
    width: 200px;
    transition: filter 0.3s ease-in-out;
}
#ImgAdminiNegocios:hover {
    filter: brightness(0) invert(1);
}



#ImgDtscients{
    width: 200px;
    transition: filter 0.3s ease-in-out;
}
#ImgDtscients:hover {
    filter: brightness(0) invert(1);
}


#ImgEconomia{
    width: 200px;
    transition: filter 0.3s ease-in-out;
}
#ImgEconomia:hover {
    filter: brightness(0) invert(1);
}





#ContMisCursos{
    position: relative;
    margin-bottom: 10px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

  /* Estilos de los títulos */
.MisCursos {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.SubMisCursos{
    font-size: 50px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

  /* Estilos de las tarjetas */
#ContMisCursos > div {
    background: #010311;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#ContMisCursos > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

  /* Estilo de los títulos dentro de las tarjetas */
#ContMisCursos h2 {
    font-size: 18px;
    font-weight: bold;
    color: #ff3b3b;
    margin-bottom: 10px;
}

  /* Estilo del texto dentro de las tarjetas */
#ContMisCursos p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
}

  /* Responsividad */
@media (max-width: 768px) {
    #ContMisCursos {
        grid-template-columns: 1fr; /* Una sola columna en móviles */
    }
}
