#padre {
    position: absolute;
    top: 40%;
    right: 100px; /* 200px desde el borde derecho */
    transform: translateY(-50%); /* Centra verticalmente */
    padding: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-top: 300px; /* 10px de margen superior */
}

#ContainerFormContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
}

#Formcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#hijo {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los inputs */
    width: 100%;
}

#LabelContact {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white; /* Asegura que los labels sean blancos */
    text-align: left; /* Los labels alineados a la izquierda */
}

#InputContactName,
#InputContactEmail {
    height: 70px;
    width: 666px; /* 666px de ancho */
    padding: 12px;
    border: 2px solid red;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    margin-bottom: 10px; /* Espacio entre los inputs */
}

#InputContactName::placeholder,
#InputContactEmail::placeholder {
    color: white;
    opacity: 0.7;
}

#InputContactName:hover,
#InputContactEmail:hover,
#InputContactName:focus,
#InputContactEmail:focus {
    border-color: rgb(90, 16, 16);
}

textarea[name="message"] {
    width: 800px;
    height: 100px;
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid red;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    resize: none;
    transition: border-color 0.3s ease;
}

textarea[name="message"]::placeholder {
    color: white;
    opacity: 0.7;
}

textarea[name="message"]:hover,
textarea[name="message"]:focus {
    border-color: rgb(90, 16, 16);
}

#BtnSubmit {
    align-self: flex-end;
    background-color: red;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

#BtnSubmit:hover {
    transform: scale(1.1);
    background-color: darkred;
}
