#BtnExplorarVerMas{
    display: inline-block;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    font-family: 'Bai Jamjuree', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF !important;
    line-height: 1.4em;
    background-color: #E63329;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: inline-block;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    font-size: 16px;
}


/* App.css */
#container {
    top: 1px;
    margin-top: 1px;
    width: 100%;
    height: 100%;  /* El contenedor ocupará toda la altura de la ventana */
    background-image: url('../img/fondoHearder1.jpg');  /* Ruta a la imagen */
    background-size: cover;  /* La imagen cubrirá todo el área */
    background-position: center center;  /* Centra la imagen */
    color: white;  /* Asegura que el texto se vea bien sobre el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
